<div class="jumbotron left">
	<div style="font-family: Indie Flower; color: #e74c3c"
		<h1></h1>
		<h1>Edit Your Stuff</h1>
	</div>


<%= render 'form' %>

<%= link_to 'See Your Stuff', @pin %> |
<%= link_to 'See All The Stuff', pins_path %>
</div>