<div class="jumbotron left">
<div style="font-family: Cinzel" <h1></h1> <h1>New Pin?</h1> </div><div style="font-family: Bangers" <h1></h1> <h1>Awesome!</h1> </div>
	<%= render 'form' %> 
	<span class="glyphicon glyphicon-star"></span> <%= link_to 'See the Awesome Pins', pins_path %> <span class="glyphicon glyphicon-star"></span>
</div>