<div class="jumbotron left">
<div style="font-family: Cinzel" <h1></h1> <h1>More Stuff?</h1> </div><div style="font-family: Bangers" <h1></h1> <h1>Awesome!</h1> </div>
	<%= render 'form' %> 
	 By the way, stuff descriptions can be up to 100 characters.
	<br/> 
	<br/> 
	Please keep uploads awesome.<br/>
	<br/>
	<span class="glyphicon glyphicon-star"></span> <%= link_to 'See the Awesome Stuff Already Added', pins_path %> <span class="glyphicon glyphicon-star"></span>
</div>