   <div class="row">
   <div class="col-md-offset-3 col-md-6">
 	<div class="panel panel-white">
      <div class="panel-heading center">
      	 <div class="font-effect">
			<div style="font-family: Cinzel; color: #e74c3c"
			<h1></h1>
			<h1>Here Is The Stuff.</h1>
			<h2>SHOOKAWOOKABOOMBOOM!</h2>
			</div>
	</div>
	</div>
</div>
</div>
</div>
