<div class="jumbotron right">
	<div style="font-family: Cinzel"
		<h1></h1>
		<h1>About This Crazy Awesomeness</h1>
		<p>This is a practice app </p>
		<p>But...</p>
		<div style="font-family: Indie Flower"
			<p></p>
			<p>It is still 
		</div>
		<div style="font-family: Bangers"
			<p></p>
			<p><span class="glyphicon glyphicon-bullhorn"></span>     AWESOMELY AWESOME!</p>
		</div>	
		<div style="font-family: Indie Flower"
			<p></p>
			<p>Click <strong><%= link_to "here to check out our STUFF.", root_path %></strong></p> <p>And, if you want to add to our stuff, sweet! <strong><%= link_to "Upload Away.", new_pin_path%></p> </strong>
		</div>	
	</div>
</div>

