<div class="jumbotron center">
	<h1>Welcome to the</h1>
	<h1>Awesome Practice App of Awesomeness</h1>
	<%= link_to "Log In", "#", class: "btn btn-default" %> 
	<%= link_to "Sign Up", "#", class: "btn btn-success" %>
</div>
