<div class="jumbotron center">
	<div style="font-family: Cinzel;"
		<h1></h1>
		<h1>Team</h1>
	 </div>
	 <div style="font-family: Indie Flower;"
		<p></p>
		<p>The team includes me, and</p>
		<p><span class="glyphicon glyphicon-hand-right"></span>  YOU, of course  <span class="glyphicon glyphicon-hand-left"></span></p></p>
	<div style="font-family: Bangers;"
		<p></p>
		<p>and AWESOMENESS</p>
	</div>
	</div>

</div>