@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Dancing+Script|Rock+Salt|Bangers);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

$navbar-default-link-color: #e74c3c;
$navbar-default-bg: white;
$navbar-height: 35px;
$jumbotron-color: #d35400;
$body-bg: #1abc9c;
$jumbotron-heading-color: #e74c3c;
$jumbotron-bg: white;
$link-color: #d35400;
$jumbotron-horizontal-align: middle;


@import 'bootstrap';

.center {
	   text-align: center;
}

.right {text-align: right;} 

.left {text-align: left;}

.navbar-brand {font-weight: bold;}


.font-effect{ 
    h1 {
        font-size: 1.8em;
    }
     h2 {
        font-size: 2.2em;
    }    
}

.font-size1{ 
        font-size: 2.3em;
    
}

.font-size2{ 
        font-size: 1.5em;
    
}

.font-size3{ 
        font-size: 1.3em;
    
}

.jumbotron-size{ 
	padding: 0.002em;
	width: 525px;
    h1 {
        font-size: 1.8em;
    }
     h2 {
        font-size: 2.2em;
    }
    jumbotron-horizontal-align: center;
    text-align: center;
    
}// This is not used, but was set up to provide a class that alters the jumbotron settings, especially size



