@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Dancing+Script|Rock+Salt|Bangers);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

$navbar-default-link-color: #e74c3c;
$navbar-default-bg: white;
$navbar-height: 35px;
$jumbotron-color: #d35400;
$body-bg: #1abc9c;
$jumbotron-heading-color: #e74c3c;
$jumbotron-bg: white;
$link-color: #d35400;
$jumbotron-horizontal-align: middle;


@import 'bootstrap';

.center {
	   text-align: center;
}

.right {text-align: right;} 

.left {text-align: left;}

.navbar-brand {font-weight: bold;}


.font-effect{ 
    h1 {
        font-size: 1.8em;
    }
     h2 {
        font-size: 2.2em;
    }    
}

.font-size1{ 
        font-size: 2.3em;
    
}

.font-size2{ 
        font-size: 1.5em;
    
}

.font-size3{ 
        font-size: 1.3em;
    
}

.font-size4{ 
        font-size: 1.18em;
    
}

.apple_pagination {
  background: #1abc9c;
  border: 1px solid #1abc9c;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: black; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }
  

.jumbotron-size{ 
	padding: 0.002em;
	width: 525px;
    h1 {
        font-size: 1.8em;
    }
     h2 {
        font-size: 2.2em;
    }
    jumbotron-horizontal-align: center;
    text-align: center;
    
}// This is not used, but was set up to provide a class that alters the jumbotron settings, especially size



