@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower|Dancing+Script|Rock+Salt|Bangers);
@import url(http://fonts.googleapis.com/css?family=Cinzel);

$navbar-default-link-color: #2ecc71;
$navbar-default-bg: white;
$navbar-height: 35px;
$jumbotron-color: #d35400;
$body-bg: #2980b9;
$jumbotron-heading-color: #2ecc71;
$jumbotron-bg: white;
$link-color: #d35400;


@import 'bootstrap';

.center {
	   text-align: center;
}

.right {text-align: right;} 

.left {text-align: left;}

.navbar-brand {font-weight: bold;}



